<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Welcome to MadLibs!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Fill in the blanks! Then hit submit to hear a story.</h1>
    <form action="/story" method="post">
     
     <label for="animal">Animal</label>
     <input id="animal" name="animal" type="text">
     <br>
     <label for="food">Food</label>
     <input id="food" name="food" type="text">
     <br>
     <label for="personname">Person's Name</label>
     <input id="personname" name="personname" type="text">
     <br>
     <label for="noun">Noun</label>
     <input id="noun" name="noun" type="text">
     <br>
     <label for="adjective">Adjective</label>
     <input id="adjective" name="adjective" type="text">
     <br>
     <label for="noun2">Noun</label>
     <input id="noun2" name="noun2" type="text">
     <br>
     <label for="container">Container</label>
     <input id="container" name="container" type="text">
     <br>
     <label for="number">Number</label>
     <input id="number" name="number" type="text">
     <br>
     <label for="number2">Number</label>
     <input id="number2" name="number2" type="text">
     <br>
     <label for="color">Color</label>
     <input id="color" name="color" type="text">
     <br>
     <br>
     <button type="submit">Submit</button>
    </form>
  </body>
</html>